.error-block {
    max-width: 1100px;
    background-color: var(--base-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;

    button {
        background-color: var(--danger-color);
    }
}