body {
  background: linear-gradient(45deg, 
    #f0f0f0 0%, 
    #9baccc 25%, 
    #88afe2 50%, 
    #9baccc 75%, 
    #f0f0f0 100%);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
  min-height: 100vh;
  margin: 0;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
    padding: 16px 24px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border: none;
  }
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #005bb5;
    background-color: #005bb5;
    opacity: 0.5;
    transition: all 0.1s ease;
}