.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--base-color);
    font-size: 30px;
    border-bottom: 2px solid black;

    .logo-text {
        p {
            cursor: pointer;
        }
        
    }

    .register-button {
        button {
            padding: 8px 16px;
            border-radius: 20px;
            align-items: center;
            text-align: center;
            font-weight: 500;
            cursor: pointer;
            border: none;
        }
        button:active {
            transform: translateY(2px);
            box-shadow: 0 2px #005bb5;
            background-color: #005bb5;
            opacity: 0.5;
            transition: all 0.1s ease;
        }
        
    }
}

.body {
    .info-block {
        background-color: var(--base-color);
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        border-radius: 15px;
        padding: 20px;

        h1 {
            text-align: center;
        }

        p {
            text-align: justify;
            font-size: larger;
            margin-top: 20px;
        }
    }

    .quote-block {
        background-color: var(--base-color);
        width: 75%;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
        }

        strong {
            font-size: 20px;
        }

        .quote-text {
            text-align: justify;
            margin-top: 20px;
            
            p {
                font-size: 20px;
            }
            
        }

        
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--base-color);
    font-size: 20px;
    border-top: 2px solid black;

    .socials {
        display: flex;
        gap: 30px;
        font-size: 30px;
        border: none;
        filter: grayscale(100%);
        cursor: pointer;
    }
}